<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>


    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate at aliquid praesentium est temporibus, beatae tempore odio quo esse nam in sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate at aliquid praesentium est temporibus, beatae tempore odio quo esse nam in sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate at aliquid praesentium est temporibus, beatae tempore odio quo esse nam in sit.</p>
    </div>
<%- include("./partials/footer.ejs") %>
</body>
</html>
